@import '../../utility/theme/variable.scss';
.FilterData {
  padding: $size3;
  margin: $size3;
}
.all-graph-data {
  box-sizing: border-box;
  .table-conatiner {
    max-width: calc(100vw - 10px);
    height: calc(88vh - 76px);
    border-radius: 5px;
    box-sizing: border-box;
    overflow-x: auto;
    overflow-y: auto;
    margin: $size4 auto 0;
    &.drawer-open-table-length {
      max-width: calc(100vw - 310px);
    }

    .tablerow-data-css {
      font-family: $primaryFontFamily;
      font-weight: $fontWeight400;
      cursor: default;
      pointer-events: none;
      font-size: $size14;
      min-width: 170px;
      &:hover {
        background-color: #e2e2e2;
      }
      &.address-data-css {
        pointer-events:auto;
        cursor: pointer;
        color: $colorCyan;
      }
     }

   
   
    .table-head-cell {
      color: $colorWhite;
      background-color: $primaryColor;
      padding: $size8 $size8;

      .table-column-btn {
        color: $colorWhite;
        font-weight: bold;
        width: max-content;

        svg {
          margin-left: 5px;
        }
      }
    }
    .table-head-cell-light {
      color: $colorWhite;
      // background-color: rgb(30, 136, 229);
      padding: $size16 $size8;

      .table-column-btn {
        border: 1px solid #cdc9c9;
        color: $colorBlack;
        font-weight: bold;
        width: max-content;
        &:hover {
          border-color: $colorBlack;
        }
      }
    }
    .attribute-columns-cell {
      display: flex;
      align-items: center;
    }
    .error-found {
      width: 100%;
      height: 100%;
      background-color: var(--loaderBackground);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        width: 200px;
        height: 200px;
      }
    }
  }

  .next-previous-option {
    max-width: calc(100vw - 10px);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    &.drawer-open-next-previous-option {
      max-width: calc(100vw - 310px);
    }
    .disable-navigation {
      border: none;
      background: #cccccc;
      color: #666666;
      cursor: not-allowed;
    }
    span {
      padding: 2.5px $size8;
      font-size: $size18;
      border: gray solid 1px;
      border-radius: 3px;
      margin: 0.5rem 0.5rem 0;
    }
    svg {
      width: 50px;
      color: var(--drawerToggleIconBackground);
      font-size: 1.8rem;
      background: var(--baseColor);
      border-radius: 3px;
      cursor: pointer;
      margin: 0.5rem 0 0 0;
    }
  }
}
