.loader {
  width: 100%;
  height: 100vh;
  background-color: #03000c;
  display: flex;
  span {
    font-size: 2rem;
    color: #00a1ff;
    font-weight: bold;
    margin: auto;
  }
}
.all-graph-data {
  box-sizing: border-box;
  .table-conatiner {
    max-width: calc(100vw - 10px);
    height: 88vh;
    border-radius: 5px;
    box-sizing: border-box;
    overflow-x: auto;
    overflow-y: auto;
    margin: 4px auto 0;
    &.drawer-open-table-length {
      max-width: calc(100vw - 310px);
    }
    .entity-object {
      padding: 8px;
      color: #0000ee;
      font-weight: 600;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
        background-color: rgba(80, 158, 227, 0.1);
        border-radius: 10px;
        box-shadow: inset 5px 10px 8px rgba(25, 101, 168, 0.1);
      }
    }
    .ether-scan-address {
      padding: 8px;
      color: #0000ee;
      font-weight: 600;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
        background-color: rgba(80, 158, 227, 0.1);
        border-radius: 10px;
        box-shadow: inset 5px 10px 8px rgba(25, 101, 168, 0.1);
      }
    }
    .entity_number {
      padding: 8px;
      color: black;
      font-weight: 400;
      font-family: 'Inconsolata', 'Montserrat', sans-serif;
      font-size: 14.5px;
      &:hover {
        background-color: rgba(80, 158, 227, 0.1);
        border-radius: 10px;
        box-shadow: inset 5px 10px 8px rgba(25, 101, 168, 0.1);
      }
    }
    .table-head-cell {
      color: #fff;
      background-color: #03000c;
      padding: 16px 8px;

      .table-column-btn {
        color: white;
        font-weight: bold;
      }
    }
  }

  .next-previous-option {
    max-width: calc(100vw - 10px);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    &.drawer-open-next-previous-option {
      max-width: calc(100vw - 310px);
    }
    .disable-navigation {
      border: none;
      background: #cccccc;
      color: #666666;
      cursor: not-allowed;
    }
    span {
      padding: 2.5px 8px;
      font-size: 18px;
      border: gray solid 1px;
      border-radius: 3px;
      margin: 0.5rem 0.5rem 0;
    }
    svg {
      width: 50px;
      color: var(--drawerIconColour);
      font-size: 1.8rem;
      background: var(--drawerToggleIconBackground);
      border-radius: 3px;
      cursor: pointer;
      margin: 0.5rem 0 0 0;
    }
  }
}
