.loader {
  width: 100%;
  height: 100vh;
  background-color: #03000c;
  display: flex;
  span {
    font-size: 2rem;
    color: #00a1ff;
    font-weight: bold;
    margin: auto;
  }
}
.table-conatiner {
  max-width: 1120px;
  max-height: 600px;
  border: gray solid 1px;
  border-radius: 5px;
  box-sizing: border-box;
  overflow-x: auto;
  overflow-y: auto;
  margin: 1rem auto 0;
  .table-head {
    background-color: #03000c;
    .table-heading-text {
      color: white;
    }
  }
  .entity-object {
    color: #00a1ff;
    font-weight: 600;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}
