@import '../../utility/theme/variable.scss';
.modal-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 500px;
  background: white;
  border-radius: 10px;
  z-index: 9999;
  .modal-container {
    width: 500px;
    margin: $size10 auto;
    font-family: $primaryFontFamily;
    text-align: center;
    font-size: $size16;
    .download-heading {
      font-size: 30px;
      font-weight: $fontWeight400;
    }
    .records-msg {
      font-weight: $fontWeight400;
      img {
        position: relative;
        top: 20px;
      }
      b {
        color: $colorCyan;
      }
    }

    .warning-container {
      display: inline-flex;
      font-weight: $fontWeight500;
      margin-left: 0;
      img {
        position: relative;
        bottom: 20px;
      }
      .msg {
        color: red;
      }
    }
  }
}
