@import '../../utility/theme/variable.scss';

.sort-btn {
  background: linear-gradient(90deg, #21d4fd 0%, #b721ff 93%);
  border-radius: 10%;
  border: none;
  width: 28px;
  height: 28px;
  align-items: center;
  justify-content: center;
  padding: 0;
  display: flex;
  margin-left: $size6;

  .dropdown-arrow {
    color: #03000c;
    font-weight: bold;
    cursor: pointer;
  }
}

.filter-menu-button {
  color: $colorBlack;
  font-size: $size16;
  font-weight: bold;
  font-family: $secondaryFontFamily;
  text-transform: none;
  border: none;
  outline-style: none;
  border-radius: 5px;
  padding-top: $size8;
  padding-bottom: $size8;
  &:hover {
    background-color: #1976d2;
    color: $colorWhite;
    .filter-list-icon {
      color: $colorWhite;
    }
    .filter-by-col-label {
      color: $colorWhite;
    }
  }

  .filter-list-icon {
    padding-right: $size5;
    font-size: 19px;
  }
  .filter-by-col-label {
    color: $colorBlack;
    font-weight: bold;
    position: relative;
    bottom: $size4;
  }
}
