.sort_btn_color {
    background: linear-gradient(90deg, #21d4fd 0%, #b721ff 93%);
    border-radius: 10%;
    border: none;
    width: 28px;
    height: 28px;
    align-items: center;
    justify-content: center;
    padding: 0;
    display: flex;
}
.dropdown_arrow {
    color: #03000c;
    font-weight: bold;
    cursor: pointer;
}
.datatype{
    color: #1976d2;
}
.filterClick_btn {
    color: black !important;
    font-size: 15px !important;
    text-transform: none !important;
}
.filterClick_btn:hover {
    background-color: #1976d2 !important;
    color: white !important;
}
.filter_button:hover {
    color: white;
}
.filter_button {
    padding-right: 5px;
}
