[theme-selector='dark'] {
  --baseColor: #03000c;
  --navbarBoxShadow: #3d3d3d 0px 2px 5px -1px, #3d3d3d 0px 1px 3px -1px;
  --fontPrimaryColor: white;
  --primaryBorderColor: #00a1ff;
  --themeIconBackground: #fff;
  --iconColour: #000;
  --cardBorderColour: 2px solid rgba(93, 65, 212, 0.5);
  --cardBoxShadow: 0 0 16px 0 hsl(0deg 0% 100% / 20%);
  --searchBoxBorder: none;
  --homeBackground: #03000c;
  --exploreButtonBackground: linear-gradient(
    90deg,
    #21d4fd,
    rgba(185, 33, 255, 0.5137254901960784) 99%
  );
  // --drawerToggleIconBackground: linear-gradient(90deg, #21d4fd 0%, #b721ff 93%);
  --drawerToggleIconBackground: #fff;
  --drawerIconColour: #000;
  --drawerBackground: #03000c;
  --listItemColour: white;
  --listIconColour: white;
  --loaderBackground: #000;
  --loaderTextColor: #fff;
  --iconBackgroundColor: #fff;
}
