:root {
  --navbarBackground: rgb(30, 136, 229);
  --navbarBoxShadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  --fontColour: rgb(33, 33, 33);
  --themeIconBorder: rgb(21, 101, 192);
  --themeIconBackground: rgb(21, 101, 192);
  --iconColour: white;
  --cardBorderColour: none;
  --cardBoxShadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  --searchBoxBorder: rgb(158, 158, 158) solid 2px;
  --homeBackground: white;
  --exploreButtonBackground: rgb(33, 150, 243);
  --drawerToggleIconBackground: rgb(21, 101, 192);
  --drawerIconColour: white;
  --drawerBackground: white;
  --listItemColour: #757474;
  --listIconColour: #808080;
}
