//<-------- Font size, padding and margin ------->
$size2: 2px;
$size4: 4px;
$size5: 5px;
$size6: 6px;
$size7: 7px;
$size8: 8px;
$size10: 10px;
$size14: 14px;
$size16: 16px;
$size18: 18px;
$size20: 20px;

//<-------- Font weight ------->
$weight200: 200;
$weight400: 400;
$weight500: 500;
$weight600: 600;
$weight700: 700;

//<-------- Colors ------->
$colorWhite: white;
$colorBlack: black;
$colorCyan: #00a1ff;
$primary_color: #03000c;

//<-------- Font family ------->
$primary_font_family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
$secondary_font_family: 'Inconsolata', 'Montserrat', sans-serif;
