//<-------- Font size, padding and margin ------->
$size0: 0px;
$size2: 2px;
$size3: 3px;
$size4: 4px;
$size5: 5px;
$size6: 6px;
$size7: 7px;
$size8: 8px;
$size10: 10px;
$size14: 14px;
$size16: 16px;
$size18: 18px;
$size20: 20px;
$size22: 22px;
//<-------- Font weight ------->
$fontWeight200: 200;
$fontWeight400: 400;
$fontWeight500: 500;
$fontWeight600: 600;
$fontWeight700: 700;

//<-------- Colors ------->
$colorWhite: white;
$colorBlack: black;
$colorCyan: #00a1ff;
$primaryColor: #03000c;

//<-------- Font family ------->
$primaryFontFamily: 'Roboto', 'Helvetica', 'Arial', sans-serif;
$secondaryFontFamily: 'Inconsolata', 'Montserrat', sans-serif;