@import 'src/utility/theme/dark-theme.scss';
@import 'src/utility/theme/light-theme.scss';
@import '../../utility/theme/variable.scss';

.container {
  background-color: var(--homeBackground);
  color: var(--fontPrimaryColor);
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  padding-top: 3rem;
  h1 {
    font-size: 5rem;
    margin: 9rem 0 3rem 0;
    font-weight: $fontWeight400;
  }
  .search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    .search-box-form {
      display: flex;
      justify-content: flex-start;
      max-width: 850px;
      margin: 2.5rem auto 0;
      flex-wrap: wrap;
      .search-input {
        border: var(--searchBoxBorder);
        box-sizing: border-box;
        border-radius: 7px 0 0 7px;
        padding-left: 1.5rem;
        width: 75%;
        outline: none;
        height: 70px;
        font-size: 23px;
        margin-bottom: 1rem;
        font-size: $size20;
      }
      .search-button {
        font-weight: $fontWeight700;
        font-size: 23px;
        width: 25%;
        border-radius: 0 7px 7px 0;
        background-color: #21d4fd;
        margin-bottom: 1rem;
        background: var(--exploreButtonBackground);
        color: $colorWhite;
        transition: 0.4s;
        cursor: pointer;
        border: none;
      }
      .explore-msg {
        font-size: $size18;
        font-family: $primaryFontFamily;
        margin: 0;
      }
      .search-button:disabled {
        // background: #fd2121;
        cursor: not-allowed;
      }
    }
  }
}
