@import 'src/utility/theme/dark-theme.scss';
@import 'src/utility/theme/light-theme.scss';
@import '../../utility/theme/variable.scss';

.toolbar {
  width: 100%;
  background-color: var(--baseColor);
  box-shadow: var(--navbarBoxShadow);

  &.toolbar-padding {
    padding: 0;
  }

  .menu-items {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    
    img{
      margin-bottom: 4px;   
    }
    .document-icons{
      right: 170px;
      top: 23px;
    }
    .theme-icon {
      border: var(--primaryBorderColor) solid 0.5px;
      padding: $size7;
      border-radius: $size10;
      display: flex;
      align-items: center;
      background-color: var(--themeIconBackground);
      cursor: pointer;

      svg {
        font-size: 1.7rem;
        color: var(--iconColour);
      }
    }
  }

  .social-icons {
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    left: 235px;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    padding: $size7;
    margin-bottom: 25px;
    .icon {
      width: 33px;
      height: 33px;
      border-radius: 6px;
      margin-right: 10px;
      padding: 2px;
      background-color: #fff;
    }
  }
}


.docs-container {
  a{
    text-decoration: none;
  }
  position: absolute;
  right: 160px;
  top: 12px;
  width: 26px;
  height: 26px;

  .button {
    display: flex;
    height: 42px;
    padding: 0;
    background: rgb(23,188,250);
  background: linear-gradient(90deg, rgba(23,188,250,1) 0%, rgba(218,25,223,1) 100%);
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    opacity: 0.9;
    transition: 0.3s opacity ease-in-out;
  }
  
  .button:hover {
    background: rgb(218,25,223);
  background: linear-gradient(90deg, rgba(218,25,223,1) 0%, rgba(23,211,250,1) 100%);
  opacity: 1;
  }
  .button:active {
    background: rgb(218,25,223);
  background: linear-gradient(90deg, rgba(218,25,223,1) 0%, rgba(23,211,250,1) 100%);
  opacity: 1;
  }
  .button__text,
  .button__icon {
    display: inline-flex;
    align-items: center;
    padding: 0 24px;
    color: #fff;
    height: 100%;
    font-weight: 700;
  
  }  
  .button__icon {
    font-size: 1.5em;
    background: rgba(0, 0, 0, 0.08);
  }
 
}



