@import 'src/utility/theme/dark-theme.scss';
@import 'src/utility/theme/light-theme.scss';
@import '../../utility/theme/variable.scss';

.toolbar {
  width: 100%;
  background-color: var(--baseColor);
  box-shadow: var(--navbarBoxShadow);
  &.toolbar-padding {
    padding: 0;
  }

  .menu-items {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    .theme-icon {
      border: var(--primaryBorderColor) solid 0.5px;
      padding: $size7;
      border-radius: $size10;
      display: flex;
      align-items: center;
      background-color: var(--themeIconBackground);
      cursor: pointer;
      svg {
        font-size: 1.7rem;
        color: var(--iconColour);
      }
    }
  }
  .social-icons {
    position: absolute;
    left: 258px;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    padding: $size7;
    .icon {
      width: 33px;
      height: 33px;
      border-radius: 6px;
      margin-right: 10px;
      padding: 2px;
      background-color: #fff;
    }
  }
}
