@import '../../utility/theme/variable.scss';

.btn-exportcsv {
  text-decoration: none;
  cursor: pointer;
  z-index: 999;
  padding: $size7;
  padding: auto;
  background: var(--drawerToggleIconBackground);
  border: none;
  border-radius: $size5;
  position: absolute;
  right: 80px;
  svg {
    color: var(--iconColour);
    height: 22px;
  }
  .csvlink {
    text-decoration: none;
    color: inherit;
  }
}
